@import './../../../../mixin';

.hot-product{
    padding: 5% 5% 0% 5%;
}

.hot-title{
    width: 100%;
    position: relative;
    text-align: center;

    &::before{      
        content: "";
        display: block;
        position: absolute;
        background-color: #ccc;
        height: 1px;
        width: 36%;
        top: 60%;

    }

    &::after{
        content: "";
        display: block;
        position: absolute;
        background-color: #ccc;
        height: 1px;
        width: 36%;
        top: 60%;
        right: 0;
    }


    &-image{
        width: 10%;
        margin: auto;
        & img{
            width: 100%;
            height: 100%;
        }

    }
    

}

.hot-shoe{
    margin-top: 20px;
    .item{
        padding: 15px;

        @include maxWidth(768px){
            padding: 7px;
        }
        @include maxWidth(576px){
            padding: 3px;
        }
    }
}

.slick-next:before, .slick-prev:before {
    opacity: 1;
    color: #ff5e00;
    font-size: 25px;

    @include maxWidth(576px){
        font-size: 18px;
    }
}